*{
    margin: 0;
}
html, body {
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #0D1F16;
    overflow: hidden;
    flex-direction: column;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

header{
    margin-left: 30px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}


.voltar{
    margin-top: 5px;
    margin-left: 15px;
    width: 100vw;
    color: #f4f4f4;
    font-size: 1.5em;
    font-weight: 900;
    text-align: left;
}


.voltar:hover{
    color: #7bdf99;
}

main{
    flex: 1;
}

a{
    text-decoration: none;
}

.container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.relogio{
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Centraliza os dois elementos */
    gap: 5px; /* Espaço entre a imagem e o tempo */
    margin-top: 10px;
}

.relogio img {
    margin-top: 15px;
    width: 50px; /* Ajuste conforme desejar */
    height: 60px;
}

.timer {
    margin-top: 15px;
    font-size: 3em;
    font-weight: bold;
    color: #f4f4f4;
}

.principal{
    height: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
    color: #f4f4f4;
    font-size: 2em;
}

.reinoSul{
    margin-top: -100px;
    width: 300px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.reinoSul img{
    width: 300px;
    height: 300px;
}

.reinoSul h2{
    align-items: center;
    text-align: center;
}

.reinoSul p{
    align-items: center;
    text-align: center;
    font-size: 1em;
    color: #f4f4f4;
    
}

.reinoNorte{
    margin-top: -100px;
    width: 300px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.reinoNorte img{
    width: 300px;
    height: 300px;
}

.reinoNorte h2{
    align-items: center;
    text-align: center;
}

.reinoNorte p{
    align-items: center;
    text-align: center;
    font-size: 1em;
    color: #f4f4f4;
    
}

.palavra {
    margin-top: 10px;
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #0D1F16;
    width: 50%;
    text-align: center;
}

#palavra{
    font-size: 3em;
}

.card-palavra {
    width: 700px;
    height: 350px;
    background: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.botoes {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
}

button{
    width: 235px;
    height: 50px;
    border-radius: 10px;
    color: #0D1F16;
    border-color: #14381F;
    font-weight: bold;
    font-size: 2em;
}

button:hover{
    background-color: #14381F;
    border-color: #f4f4f4;
}

.ranking{
    display:flex;
    flex-direction:row;
    gap:15px;
    justify-content: space-between;
}

.time{
    display:flow-root;
    justify-content:space-between;
    align-items:center;
    padding:10px 20px;
    border-radius:12px;
    background:#fff;
    border-left:8px solid #14381F;
    border-right:8px solid #14381F;
    font-size: 1.5em;
    font-weight:bold;
}

.time img{
    width: 40px;
    height: 40px;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Centraliza os dois elementos */
}

.primeiro{
    border-left-color:#FFD700;
    border-right-color: #f4f4f4;
}

.segundo{
    border-left-color:#C0C0C0;
    border-right-color: #f4f4f4;
}

.time{
    transition: .3s;
}

.time.ativa{
    border:4px solid gold;
    transform:scale(1.05);
    box-shadow:0 0 20px gold;

}

ul{
    padding:0;
    list-style:none;
}

li{
    margin:6px 0;
    padding:6px;
    border-radius:8px;
    color:white;
}

.acerto{
    background:#2ecc71;
    color: #14381F;
    text-transform: capitalize;
}

.erro{
    background:#e74c3c;
    color: #580c03;
    text-transform: capitalize;
}

.contador-palavras{
    color: #f4f4f4;
    font-size: 2em;
    font-weight: 500;
    display: flex;
    margin-top: 5px;
}

footer{
    color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #14381F;
    width: 100%;
    height: 30px;
}

footer p{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5em;
}