body{
    margin:0;
    background:#0D1F16;
    font-family:Arial, Helvetica, sans-serif;
}


header{
    margin-left: 30px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}

h1{
    color: #0D1F16;
    font-size: 30pt;
    font-weight: 900;
}

h2{
    color: #f4f4f4;
    font-size: 20pt;
    font-weight: 900;
}

a{
    text-decoration: none;
}

h2:hover{
    color: #3e8d56;
}


.container{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 70vh;
}

.card{
    width:700px;
    background:#F4F4F4;
    border-radius:20px;
    padding:35px;
}

.card h1{
    text-align:center;
    color:#14381F;
    margin-bottom:30px;
}

.ranking{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.time{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 25px;

    border-radius:12px;

    background:#fff;

    border-left:8px solid #14381F;

    font-size:22px;
    font-weight:bold;
}

.primeiro{
    border-left-color:#FFD700;
    border-right-color: #f4f4f4;
}

.segundo{
    border-left-color:#C0C0C0;
    border-right-color: #f4f4f4;
}


button{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    color: #0D1F16;
    border-color: #14381F;
    font-weight: bold;
    font-size: 20pt;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

button:hover{
    background-color: #14381F;
    border-color: #f4f4f4;
}

.add-dim input{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20pt;
}

.add-dim button{
    width: 200px;
}

.add-dim{
    width: 400px;
    margin: auto;
    padding: 0px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#timeSelecionado{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18pt;
    color: #0D1F16;
    font-weight: 700;
}

.btnp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}