*{
    margin: 0;
    
}
html, body {
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #0D1F16;
    overflow: hidden;
    flex-direction: column;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

main{
    flex: 1;
}


h1{
    color: #f4f4f4;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 2.5em;
}


.voltar{
    margin-top: 5px;
    margin-left: 15px;
    width: 100vw;
    color: #f4f4f4;
    font-size: 1.5em;
    font-weight: 900;
    text-align: left;
}


a{
    text-decoration: none;
}

.voltar:hover{
    color: #7bdf99;
}

.container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.painel{
    width:900px;
    min-height:350px;
    background:#14381F;
    border:12px solid #f4f4f4;
    border-radius:15px;
    padding:30px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#painelPalavra{
    display:flex;
    flex-direction:column;
    gap:20px;
    margin:20px 0;
}

.linha{
    display:flex;
    justify-content:center;
    gap:8px;
}

.descartadas{
    margin-top:25px;
    text-align:center;
    color:white;
    font-size: 1.5em;
}

.letra{
    width:60px;
    height:60px;
    background:white;
    border:2px solid #14381F;
    border-radius:6px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:2.5em;
    font-weight:bold;
}

.letra.revelada{
    animation: virar .5s ease;
}

@keyframes virar{

    0%{
        transform: rotateX(90deg);
        background:#fff;
    }

    100%{
        transform: rotateX(0);
        background:#4CAF50;
        color:white;
    }

}

#letrasErradas{
    display:flex;
    justify-content:center;
    gap:10px;
    margin:20px;
    flex-wrap:wrap;
}

.errada{
    width:50px;
    height:50px;
    border-radius:8px;
    background:#b22222;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
}

.ranking{
    display:flex;
    flex-direction:row;
    gap:15px;
    justify-content: space-between;
}

.time{
    display:flow-root;
    justify-content:space-between;
    align-items:center;
    padding:10px 20px;
    border-radius:12px;
    background:#fff;
    border-left:8px solid #14381F;
    border-right:8px solid #14381F;
    font-size:1.5em;
    font-weight:bold;
}

.time img{
    width: 40px;
    height: 40px;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Centraliza os dois elementos */
}

.primeiro{
    border-left-color:#FFD700;
    border-right-color: #f4f4f4;
}

.segundo{
    border-left-color:#C0C0C0;
    border-right-color: #f4f4f4;
}

.time{
    transition: .3s;
}

.time.ativa{
    border:4px solid gold;
    transform:scale(1.05);
    box-shadow:0 0 20px gold;

}

#dica{
    margin-top: 10px;
    margin-bottom: 10px;
}

.entrada{ 
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input{
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border-color: #14381F;
    text-transform: uppercase;
    margin-bottom: 15px;
}

button{
    background-color: #14381F;
    height: 35px;
    width: 150px;
    color: #f4f4f4;
    font-weight: 900;
    border-radius: 10px;
    border-color: #7bdf99;
    text-transform: uppercase;
    margin-bottom: 15px;
}

button:hover{
    background-color: #0D1F16;
    color: #f4f4f4;
    border-color: #f4f4f4;
}

.modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.7);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1000;
}

.oculto{
    display:none;
}

.modal-conteudo{
    width:450px;
    background:#14381F;
    border:4px solid white;
    border-radius:15px;
    padding:30px;
    animation: aparecer .3s;
}

.modal-conteudo h2{
    text-align:center;
    color:white;
    margin-bottom:20px;
}

#camposResposta{
    display:flex;
    flex-direction:column;
    gap:15px;
}

#camposResposta input{
    width:100%;
    height:40px;
    border-radius:8px;
    font-size:1.5em;
    text-transform:uppercase;
}

.botoes-modal{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-top:25px;
}

@keyframes aparecer{

    from{
        transform:scale(.8);
        opacity:0;
    }

    to{
        transform:scale(1);
        opacity:1;
    }

}
.modal-vitoria {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-conteudo-vitoria {
    color: #14381F;
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    font-size: 2em;
}
.modal-conteudo-vitoria button{
    width: 250px;
    height: 50px;
    font-size: 0.7em;
    margin-top: 10px;
}
.modal-conteudo button{
    margin-top:15px;
    padding:12px 25px;
    cursor:pointer;
}

footer{
    color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #14381F;
    width: 100%;
    height: 30px;
}

footer p{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5em;
}