*{
    margin: 0;
}

body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #0D1F16;
    overflow: hidden;
}

h1{
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 40pt;
    font-weight: 900;
    text-transform: uppercase;
}
main{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 20px;
}

.img-botao{
    background-color: #0535144b;
    border-radius: 15px 15px 15px 15px;
    display: grid;
    align-items: center;
    justify-content: center; 
    margin:0%;
    width: 30vw;
    height: 30vh;
}

.img-botao img {
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center; 
    justify-content: center;
    
}

.botoes {
    display: flex;
    gap: 20px;
    height: 10vh;
    width: 80vw;
    justify-content: center;
    align-items: center;
}

button{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    color: #0D1F16;
    border-color: #14381F;
    font-weight: bold;
    font-size: 20pt;
}

button:hover{
    background-color: #053514;
    color: #f4f4f4;
    border-color: #f4f4f4;
}

.reiniciar{
    display: block;
    margin: 40px auto 0;
}