*{
    margin: 0%;
    display: center;
    justify-content: center;
    align-items: center;
    
}

body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #0D1F16;
    
}

header{
    margin: 0;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f4f4f4;
    
}

h1{
    color: #f4f4f4;;
    font-size: 30pt;
    font-weight: 900;
    text-align: center;
}

h2{
    color: #f4f4f4;
    font-size: 20pt;
    font-weight: 900;
}

a{
    text-decoration: none;
}

h2:hover{
    color: #3e8d56;
}


main{
    margin: auto;
    width: 90vw;
    display:grid;
    grid-template-columns:repeat(3,250px);
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-wrap: wrap;
    margin-top: 150px;
    gap: 50px;
}

.botoes {
    display: flex;
    gap: 20px;
    height: 10vh;
    width: 80vw;
    justify-content: center;
    align-items: center;
}

button{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    color: #0D1F16;
    border-color: #14381F;
    font-weight: bold;
    font-size: 20pt;
}

button:hover{
    background-color: #053514;
    color: #f4f4f4;
    border-color: #f4f4f4;
}